.titlebar {
    background-color: black;
    color: white;
    font-size: 0.6em;
    font-family: Alatsi;
    font-weight: lighter;
    user-select: none;
    z-index: 1;
    -webkit-app-region: drag;
    border-bottom: white 2px solid;
}

.titlebar-content {
    display: flex;
    justify-content: space-between;
}   

.titlebar-content-center {
    display: flex;
    justify-content: center;
    margin-top: 0.75em;
    -webkit-app-region: no-drag;
}

.titlebar-content a {
    color: white;
    text-decoration: none;
    font-size: 3em;
    margin-left: 0.5em;
    user-select: none;
    -webkit-app-region: no-drag;
}

.titlebar-content a:hover {
    color: #FF9B3E;
}

.titlebar-content button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 0.5em;
    font-size: 1.5em;
    user-select: none;
    margin-top: 0.75em;
    -webkit-app-region: no-drag;
}

.titlebar button:hover {
    cursor: pointer;
}